

.screensaver {
    position: fixed;
    top: 0;
    left: -15%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s ease-in;
    z-index: 99999999;
    pointer-events: none;
}

.screensaver.show {
    opacity: 1;
}

.video {
    width: 130%;
    height: 120%;
}
